.container
  h1.page-title(bind-once ng-bind='pageTitle', ng-if='pageTitle')
  include components/search-results
  section.section(ng-repeat='section in sections | filter:filter')
    header.section-header(ng-if='section.title')
      h1
        small(ng-if="pageType === 'search' && sections.length > 1", 
              ng-bind="$index + 1 + ' '")
        strong(ng-id='{{section.anchor}}', bind-once, ng-bind='section.title')
    .section-content

      div(ng-if="section.type == 'Questionnaire' || section.type == 'Form'",
          ng-include="'views/components/form.html'")

      div(ng-if="section.type == 'DescriptionOnly'",
          ng-include="'views/components/description-only.html'")

      div(ng-if="section.type == 'DescriptionGallery'",
          ng-include="'views/components/description-gallery.html'")

      div(ng-if="section.type == 'Gallery'",
          ng-include="'views/components/gallery.html'")

      div(ng-if="section.type == 'CallToAction'",
          ng-include="'views/components/call-to-action.html'")

      div(ng-if="section.type == 'ExternalLink'",
          ng-include="'views/components/external-link.html'")

      div(ng-if="section.type == 'File'",
          ng-include="'views/components/file.html'")

      div(ng-if="section.type == 'Quote'",
          ng-include="'views/components/quote.html'")

      div(ng-if="section.type == 'Audio'",
          ng-include="'views/components/audio.html'")

      div(ng-if="section.type == 'GoogleMaps'",
          ng-include="'views/components/google-map.html'")

      div(ng-if="section.type == 'YoutubeVideo'",
          ng-include="'views/components/youtube-embed.html'")

