section
  header(ng-switch='section.type')
    h1(ng-switch-default, ng-bind='section.form_name')
    h1(ng-switch-when='Questionnaire',
       ng-bind="'Question ' + current + ' of ' + section.fields.length")

  form(ng-submit='submitForm($index, section.fields)')
    p(ng-if='section.form_description',
      ng-bind='section.form_description', bind-once)

    ol.form
      li(ng-repeat='field in section.fields')
        label(for='form-{{section.form_template_id}}-{{$index}}',
              ng-bind='field.field_label', bind-once)
        span(ng-switch='field.type')
          include form/input-text.jade
          include form/input-email.jade
          include form/input-date.jade
          include form/input-checkbox
          include form/input-radio
          include form/input-file
          include form/textarea.jade
          include form/select
          include form/select-country
        p(ng-if='field.field_description',
          ng-bind-html='field.field_description', bind-once)

    p(ng-if='section.feedback && !section.isComplete')
      strong(ng-bind='section.feedback')

    div(ng-if='section.form_confirmation_message && section.isComplete',
      ng-bind-html='section.form_confirmation_message', bind-once)

    p.submit
      button(type='submit') 
        | Submit 
        span(ng-if='section.submitProgress > 0 && !section.isComplete',
             ng-bind='section.submitProgress')
