h1.navbar-brand(ng-bind='envVars.website_name')

nav.navbar.navbar-default.navbar-fixed-top
  ul
    li(ng-repeat='item in nav', ng-class='navClass(item.path)')
      a(ng-href='#{{item.path}}', ng-bind='item.label')

    li(ng-switch='isLoggedIn')
      a(ng-switch-when='true', ng-href='#/{{lang}}/logout') Log out
      a(ng-switch-default, ng-href='#/{{lang}}/signin') Sign in

    li.search
      form.navbar-form.navbar-right
        .input-group
          input.form-control.input-sm(type='search', 
                                      name='searchInput', 
                                      ng-model='searchString',
                                      autocomplete='off',
                                      placeholder='Type your query here…',
                                      spellcheck='false',
                                      required
                                     ) 
          span.form-group-btn
            button.btn.btn-primary(type='submit') Search
